extends layout

block content
 div id="result"    
    
  p #{title}
  table(border='1')
    thead 
        tr 
            th Label
            th Appellation
            th Region
            th Country
            th Color
            th Year
            th Dealer
            th Grape Varieties
            th Number of Bottles
    tbody
        each item in wines
            tr(onclick="onWineClick()")
                td #{item.label}
                td #{item.appellation}
                td #{item.region}
                td #{item.country}
                td #{item.color}
                td #{item.year}
                td #{item.dealer}
                td #{item.grapeVarieties}
                td #{item.numberOfBottles}
                td 
                 span(style='cursor: pointer;', onclick='onWineClick('+item.label+')')= "UPDATE"

                
  p 
  button(onclick="addNewWine()") New
  script.
    function addNewWine() {
        window.location.href = '/wines/add';
    };
    function onWineClick(item) {
        window.location.href = '/wines/add';
    };